{:title "thief"
 :category :classes
 :stats {:level 5
         :vitality 9
         :attunement 11
         :endurance 9
         :strength 9
         :dexterity 15
         :resistance 10
         :intelligence 12
         :faith 11
         :humanity 0}
 :md-page true
 :gear {}
 :items {}
 :spells []}
